In [1]:
import pandas as pd 
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

In [2]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.3-py3-none-any.whl.metadata (5.2 kB)
Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3

In [22]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
automobile = fetch_ucirepo(id=10) 
  
# data (as pandas dataframes) 
X = automobile.data.features 
y = automobile.data.targets 
  
# metadata 
print(automobile.metadata) 
  
# variable information 
print(automobile.variables) 
X.head()

{'uci_id': 10, 'name': 'Automobile', 'repository_url': 'https://archive.ics.uci.edu/dataset/10/automobile', 'data_url': 'https://archive.ics.uci.edu/static/public/10/data.csv', 'abstract': "From 1985 Ward's Automotive Yearbook", 'area': 'Other', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 205, 'num_features': 25, 'feature_types': ['Categorical', 'Integer', 'Real'], 'demographics': [], 'target_col': ['symboling'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1985, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5B01C', 'creators': ['Jeffrey Schlimmer'], 'intro_paper': None, 'additional_info': {'summary': 'This data set consists of three types of entities: (a) the specification of an auto in terms of various characteristics, (b) its assigned insurance risk rating, (c) its normalized losses in use as compared to other cars.  The second rating corresponds to the degree to which the auto is more risky than its price indicates. Cars are initially assigned a risk factor symbol associated with its price.   Then, if it is more risky (or less), this symbol is adjusted by moving it up (or down) the scale.  Actuarians call this process "symboling".  A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.\r\n\r\nThe third factor is the relative average loss payment per insured vehicle year.  This value is normalized for all autos within a particular size classification (two-door small, station wagons, sports/speciality, etc...), and represents the average loss per car per year.\r\n\r\nNote: Several of the attributes in the database could be used as a "class" attribute.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Attribute: Attribute Range\r\n\r\n  1. symboling:                -3, -2, -1, 0, 1, 2, 3.\r\n  2. normalized-losses:        continuous from 65 to 256.\r\n  3. make:                     \r\n                               alfa-romero, audi, bmw, chevrolet, dodge, honda,\r\n                               isuzu, jaguar, mazda, mercedes-benz, mercury,\r\n                               mitsubishi, nissan, peugot, plymouth, porsche,\r\n                               renault, saab, subaru, toyota, volkswagen, volvo\r\n\r\n  4. fuel-type:                diesel, gas.\r\n  5. aspiration:               std, turbo.\r\n  6. num-of-doors:             four, two.\r\n  7. body-style:               hardtop, wagon, sedan, hatchback, convertible.\r\n  8. drive-wheels:             4wd, fwd, rwd.\r\n  9. engine-location:          front, rear.\r\n 10. wheel-base:               continuous from 86.6 120.9.\r\n 11. length:                   continuous from 141.1 to 208.1.\r\n 12. width:                    continuous from 60.3 to 72.3.\r\n 13. height:                   continuous from 47.8 to 59.8.\r\n 14. curb-weight:              continuous from 1488 to 4066.\r\n 15. engine-type:              dohc, dohcv, l, ohc, ohcf, ohcv, rotor.\r\n 16. num-of-cylinders:         eight, five, four, six, three, twelve, two.\r\n 17. engine-size:              continuous from 61 to 326.\r\n 18. fuel-system:              1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.\r\n 19. bore:                     continuous from 2.54 to 3.94.\r\n 20. stroke:                   continuous from 2.07 to 4.17.\r\n 21. compression-ratio:        continuous from 7 to 23.\r\n 22. horsepower:               continuous from 48 to 288.\r\n 23. peak-rpm:                 continuous from 4150 to 6600.\r\n 24. city-mpg:                 continuous from 13 to 49.\r\n 25. highway-mpg:              continuous from 16 to 54.\r\n 26. price:                    continuous from 5118 to 45400.', 'citation': None}}
                 name     role         type demographic  \
0               price  Feature   Continuous        None
1         highway-mpg  Feature   Continuous        None
2            city-mpg  Feature   Continuous        None
3            peak-rpm  Feature   Continuous        None
4          horsepower  Feature   Continuous        None
5   compression-ratio  Feature   Continuous        None
6              stroke  Feature   Continuous        None
7                bore  Feature   Continuous        None
8         fuel-system  Feature  Categorical        None
9         engine-size  Feature   Continuous        None
10   num-of-cylinders  Feature      Integer        None
11        engine-type  Feature  Categorical        None
12        curb-weight  Feature   Continuous        None
13             height  Feature   Continuous        None
14              width  Feature   Continuous        None
15             length  Feature   Continuous        None
16         wheel-base  Feature   Continuous        None
17    engine-location  Feature       Binary        None
18       drive-wheels  Feature  Categorical        None
19         body-style  Feature  Categorical        None
20       num-of-doors  Feature      Integer        None
21         aspiration  Feature       Binary        None
22          fuel-type  Feature       Binary        None
23               make  Feature  Categorical        None
24  normalized-losses  Feature   Continuous        None
25          symboling   Target      Integer        None

                                          description units missing_values
0                       continuous from 5118 to 45400  None            yes
1                            continuous from 16 to 54  None             no
2                            continuous from 13 to 49  None             no
3                        continuous from 4150 to 6600  None            yes
4                           continuous from 48 to 288  None            yes
5                             continuous from 7 to 23  None             no
6                        continuous from 2.07 to 4.17  None            yes
7                        continuous from 2.54 to 3.94  None            yes
8        1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi  None             no
9                           continuous from 61 to 326  None             no
10         eight, five, four, six, three, twelve, two  None             no
11             dohc, dohcv, l, ohc, ohcf, ohcv, rotor  None             no
12                       continuous from 1488 to 4066  None             no
13                       continuous from 47.8 to 59.8  None             no
14                       continuous from 60.3 to 72.3  None             no
15                     continuous from 141.1 to 208.1  None             no
16                         continuous from 86.6 120.9  None             no
17                                        front, rear  None             no
18                                      4wd, fwd, rwd  None             no
19      hardtop, wagon, sedan, hatchback, convertible  None             no
20                                          four, two  None            yes
21                                         std, turbo  None             no
22                                        diesel, gas  None             no
23  alfa-romero, audi, bmw, chevrolet, dodge, hond...  None             no
24                          continuous from 65 to 256  None            yes
25                             -3, -2, -1, 0, 1, 2, 3  None             no

,price,highway-mpg,city-mpg,peak-rpm,horsepower,compression-ratio,stroke,bore,fuel-system,engine-size,...,length,wheel-base,engine-location,drive-wheels,body-style,num-of-doors,aspiration,fuel-type,make,normalized-losses
0,13495.0,27,21,5000.0,111.0,9.0,2.68,3.47,mpfi,130,...,168.8,88.6,front,rwd,convertible,2.0,std,gas,alfa-romero,NaN
1,16500.0,27,21,5000.0,111.0,9.0,2.68,3.47,mpfi,130,...,168.8,88.6,front,rwd,convertible,2.0,std,gas,alfa-romero,NaN
2,16500.0,26,19,5000.0,154.0,9.0,3.47,2.68,mpfi,152,...,171.2,94.5,front,rwd,hatchback,2.0,std,gas,alfa-romero,NaN
3,13950.0,30,24,5500.0,102.0,10.0,3.40,3.19,mpfi,109,...,176.6,99.8,front,fwd,sedan,4.0,std,gas,audi,164.0
4,17450.0,22,18,5500.0,115.0,8.0,3.40,3.19,mpfi,136,...,176.6,99.4,front,4wd,sedan,4.0,std,gas,audi,164.0

In [3]:
df_2=pd.read_csv('imports-85.data')
df_2.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [4]:
!pip install pandas

^C

In [5]:
print('hello')

hello

In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sitar\pycharmprojects\eda_basics\.venv\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\sitar\pycharmprojects\eda_basics\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sitar\pycharmprojects\eda_basics\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sitar\pycharmprojects\eda_basics\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sitar\pycharmprojects\eda_basics\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\sitar\pycharmprojects\eda_basics\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
df=pd.read_csv(url)

In [8]:
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [9]:
df.dtypes

3                int64
?               object
alfa-romero     object
gas             object
std             object
two             object
convertible     object
rwd             object
front           object
88.60          float64
168.80         float64
64.10          float64
48.80          float64
2548             int64
dohc            object
four            object
130              int64
mpfi            object
3.47            object
2.68            object
9.00           float64
111             object
5000            object
21               int64
27               int64
13495           object
dtype: object

In [10]:
df.describe

<bound method NDFrame.describe of      3    ?  alfa-romero     gas    std   two  convertible  rwd  front  88.60  \
0    3    ?  alfa-romero     gas    std   two  convertible  rwd  front   88.6
1    1    ?  alfa-romero     gas    std   two    hatchback  rwd  front   94.5
2    2  164         audi     gas    std  four        sedan  fwd  front   99.8
3    2  164         audi     gas    std  four        sedan  4wd  front   99.4
4    2    ?         audi     gas    std   two        sedan  fwd  front   99.8
..  ..  ...          ...     ...    ...   ...          ...  ...    ...    ...
199 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
200 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1
201 -1   95        volvo     gas    std  four        sedan  rwd  front  109.1
202 -1   95        volvo  diesel  turbo  four        sedan  rwd  front  109.1
203 -1   95        volvo     gas  turbo  four        sedan  rwd  front  109.1

     ...  130  mpfi  3.47  2.68  9.00  111  5000  21  27  13495
0    ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1    ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
2    ...  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
3    ...  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
4    ...  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250
..   ...  ...   ...   ...   ...   ...  ...   ...  ..  ..    ...
199  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
200  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
201  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
202  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
203  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[204 rows x 26 columns]>

In [11]:
df.dropna(subset=['5000'],inplace=True,axis=0)

In [12]:
import numpy as np
mean=df['130'].mean()
df['130'].replace(np.nan,mean)

0      130
1      152
2      109
3      136
4      136
      ...
199    141
200    141
201    173
202    145
203    141
Name: 130, Length: 204, dtype: int64

In [13]:
df['21']=235/df['21']# coverting the miles per gallons to kms for 100 liters

In [14]:
df.rename(columns={'21':'city-L/100L'})

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,city-L/100L,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,12.368421,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,12.368421,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,13.055556,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,9.038462,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,12.368421,25,22625

In [15]:
df.rename(columns={'168.80':'length'})

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,12.368421,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,12.368421,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,13.055556,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,9.038462,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,12.368421,25,22625

# NORMALIZATION

In [16]:
 
#lemme create 3 sublists for the operating 
subdf1=df
subdf2=df
subdf3=df

#for simple feature scaling
subdf1['168.80']=subdf1['168.80']/subdf1['168.80'].max()
print(subdf1['168.80'])

0      0.811148
1      0.822681
2      0.848630
3      0.848630
4      0.851994
         ...
199    0.907256
200    0.907256
201    0.907256
202    0.907256
203    0.907256
Name: 168.80, Length: 204, dtype: float64

In [17]:
#for min-max scaling
subdf2=(subdf2['168.80']-subdf2['168.80'].min())/(subdf2['168.80']-subdf2['168.80'].max())
print(subdf2['168.80'])

KeyError: '168.80'

In [ ]:
subdf3=(subdf3['168.80'].mean())/(subdf3['168.80'].std())
print(subdf3['168.80'])

# Binning

In [ ]:
df.rename(columns={"13495":"price"})

In [ ]:
df['13495'].dropna(inplace=True)
pd.to_numeric(df['13495'])
bins=np.linspace(min(df['13495']),max(df['13495']),4)

In [ ]:
#obtaining dummy variables:
pd.get_dummies(df['gas'])

In [ ]:
df.value_counts()

In [ ]:
!pip install seaborn #installing seaborn as it is not present in my notebook

In [ ]:
!python.exe -m pip install --upgrade pip

In [ ]:
import seaborn as sns
sns.boxplot(x="rwd", y="13495", data=df)

In [ ]:
import matplotlib.pyplot as plt
y=df['13495']
x=df['alfa-romero']
plt.scatter(x,y)

# Grouping Data

In [ ]:
df_test=df[['rwd','convertible','27']]
df_grp=df_test.groupby(['rwd','convertible'],as_index=False).mean()
df_grp

In [ ]:
df_pivot=df_grp.pivot(index='rwd',columns='convertible')
df_pivot

In [ ]:
#the best way to represent a pivot table is the heat maps 
plt.pcolor(df_pivot)
plt.colorbar()
plt.show()

In [ ]:
#VAriation of enginesize to that of city milage 
sns.regplot(x='130',y='21', data=df)
plt.ylim(0,)

In [27]:
X.dropna()

,price,highway-mpg,city-mpg,peak-rpm,horsepower,compression-ratio,stroke,bore,fuel-system,engine-size,...,length,wheel-base,engine-location,drive-wheels,body-style,num-of-doors,aspiration,fuel-type,make,normalized-losses
3,13950.0,30,24,5500.0,102.0,10.0,3.40,3.19,mpfi,109,...,176.6,99.8,front,fwd,sedan,4.0,std,gas,audi,164.0
4,17450.0,22,18,5500.0,115.0,8.0,3.40,3.19,mpfi,136,...,176.6,99.4,front,4wd,sedan,4.0,std,gas,audi,164.0
6,17710.0,25,19,5500.0,110.0,8.5,3.40,3.19,mpfi,136,...,192.7,105.8,front,fwd,sedan,4.0,std,gas,audi,158.0
8,23875.0,20,17,5500.0,140.0,8.3,3.40,3.13,mpfi,131,...,192.7,105.8,front,fwd,sedan,4.0,turbo,gas,audi,158.0
10,16430.0,29,23,5800.0,101.0,8.8,2.80,3.50,mpfi,108,...,176.8,101.2,front,rwd,sedan,2.0,std,gas,bmw,192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845.0,28,23,5400.0,114.0,9.5,3.15,3.78,mpfi,141,...,188.8,109.1,front,rwd,sedan,4.0,std,gas,volvo,95.0
201,19045.0,25,19,5300.0,160.0,8.7,3.15,3.78,mpfi,141,...,188.8,109.1,front,rwd,sedan,4.0,turbo,gas,volvo,95.0
202,21485.0,23,18,5500.0,134.0,8.8,2.87,3.58,mpfi,173,...,188.8,109.1,front,rwd,sedan,4.0,std,gas,volvo,95.0
203,22470.0,27,26,4800.0,106.0,23.0,3.40,3.01,idi,145,...,188.8,109.1,front,rwd,sedan,4.0,turbo,diesel,volvo,95.0
204,22625.0,25,19,5400.0,114.0,9.5,3.15,3.78,mpfi,141,...,188.8,109.1,front,rwd,sedan,4.0,turbo,gas,volvo,95.0

In [31]:
import scipy.stats as stats
#caluculating the pearson's correlation value 
pearson,p_value=stats.pearsonr(X['horsepower'],X['price'])
print(pearson,p_value)

0.7598739453800996 3.5922515477129504e-31

AttributeError: 'numpy.ndarray' object has no attribute 'corr'